# Environment variables
.env

# Credentials
vertex_credentials.json
*credentials*.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log

# Virtual Environment
venv/
.venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

#pycache
*.pyc

# OS specific
.DS_Store
Thumbs.db 
/app/scripts/add_id_to_imdb.py
/app/scripts/batch_movies.py
/datasets/imdb_top_10.csv
/datasets/imdb_top_1000.csv
/datasets/movies.csv
/datasets/movies_batches/movies_batch_1.csv
/datasets/movies_batches/movies_batch_2.csv
/datasets/movies_batches/movies_batch_3.csv
/datasets/movies_batches/movies_batch_4.csv
/datasets/movies_batches/movies_batch_5.csv
/datasets/movies_batches/movies_batch_6.csv
/datasets/movies_batches/movies_batch_7.csv
/datasets/movies_batches/movies_batch_8.csv
/datasets/movies_batches/movies_batch_9.csv
/datasets/movies_batches/movies_batch_10.csv
/datasets/movies_batches/movies_batch_sample.csv
