alembic
apscheduler
asyncpg
beautifulsoup4
cohere
databases
datasets
einops
fastapi
ftfy
google-cloud-aiplatform
google-genai
huggingface-hub
httpx
jinja2
open_clip-torch
openai
pandas
pgvector
pillow
psycopg
pydantic-settings
pyjwt
pytest
pytest-asyncio
python-dotenv
pyyaml
rake-nltk
requests
scipy
sqlalchemy
symspellpy
temporalio
tenacity>=8.2.0
timescale_vector
timm
torch
transformers
uvicorn[standard]
pydantic[email]
async-lru

